{% extends "skeleton.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Bakkerij Op 't hoekske</h1>
    
    <p>Welkom op onze online-bestelpagina. U kan hier onze producten bestellen die u later komt afhalen. U kan een bestelling doen voor morgen, overmorgen of de dag erna.
        U kan nog annuleren tot de dag voor u de bestelling moet komen ophalen.</p>
    
    <p>Om gebruik te maken van deze dienst moet u zich <a href='login.php'>registreren</a> met uw persoonlijke gegevens.</p>
    
    <p>Wij behouden het recht om een account te blokkeren bij misbruik. Voor meer informatie, of als u denkt dat u ten onrechte geblokkeerd bent, kan u ons contacteren op
        ons <a href='mailto: thoekske@bakkers.be'>emailadres</a>.</p>
    
    <p>Indien u reeds een account heeft kan u <a href='login.php'>hier</a> inloggen.</p>
    
    <p>Tot in de winkel!</p>
        
        
{% endblock %}