{% extends "skeleton.twig" %}

{% block title %}Mijn bestellingen{% endblock %}

{% block content %}
    <h1>MIjn bestellingen: </h1>
    <ul>
        {% for order in orderlist %}
            <li> {{order.id}} - {{order.date}}

                <ul>
                    {% for orderline in order.orderlines %}
                        <li>
                            {{orderline.product.name}} -- {{ orderline.amount }}(aantal)
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>


    





{% endblock %}