{% extends "skeleton.twig" %}

{% block title %}Mijn bestellingen{% endblock %}

{% block content %}
    <h1>MIjn bestellingen: </h1>




    <ul>
        <li>Bestelling 1 - datum (wijzigen/verwijderen)
            <ul>
                <li>Item1 (aantal)</li>
                <li>Item2 (aantal)</li>
            </ul>
        </li>
        <li>Bestelling 2 - datum (wijzigen/verwijderen)
            <ul>
                <li>Item1 (aantal)</li>
                <li>Item2 (aantal)</li>
            </ul>
        </li>
    </ul>





{% endblock %}