/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 7:59:58 PM
    Author     : manj
*/
html{
    position: relative;
    min-height: 100%;
}

body{
    padding-bottom: 60px;


}

input[type="number"]{
    width: 20%;
}

form{
    margin-bottom: 2em;
}

form{
    clear: left;
}

form.cartlist > div{
    width: 20% !important;
}

.totalPrice{
    font-weight: bold;
    clear: left;
}

.errormessage{
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

.successmessage{
    color: lightgreen;
    font-size: 1.2em;
    font-weight: bold;
}
.numbercart{
    background: red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

ul{

    list-style-type: none;
}

li form{
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    clear: both;
    background: #f8f8f8;
}


